In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([10,20,30,40,50])

In [5]:
print("The series values are:", s1.values)
print("The index values are:", s1.index.values)

The series values are: [10 20 30 40 50]
The index values are: [0 1 2 3 4]

In [7]:
s2 = pd.Series([80,93,78,85,97], index=['English', 'Science','Social', 'Tamil','Maths'])
print("The Marks obtaines by student are", s2)

The Marks obtaines by student are English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

In [8]:
s1[1:4]

1    20
2    30
3    40
dtype: int64

In [9]:
s2['Tamil']

85

In [12]:
dict_fruits = { 'Orange':80,
          'Apples':210,
          'Bananas':50,
         'Grapes':90,
         'Watermelon':70}

In [13]:
fruites = pd.Series(dict_fruits)

In [15]:
print("Fruits and pricesn\n",fruits)

Fruits and pricesn
 Orange         80
Apples        210
Bananas        50
Grapes         90
Watermelon     70
dtype: int64

In [16]:
print("The price per kg of grapes is:", fruits['Grapes'])

The price per kg of grapes is: 90

In [18]:
df_marks = pd.DataFrame(s2, columns=['Student1'])
print("The dataframe created from series isn\n", df_marks)

The dataframe created from series isn
          Student1
English        80
Science        93
Social         78
Tamil          85
Maths          97

In [19]:
height = pd.Series([5.3, 6.2,5.8,5.0,5.5], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])
weight = pd.Series([65,89,75,60,59], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])

In [ ]:
df_person = pd.DataFrame({'height': height, 'weight': weight})
print("The person table details are:\n", df_person)